<nav>
    <div class="nav-wrapper deep-purple darken-2">
        <a class="brand-logo center">Portal SI</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="http://unilasalle.edu.br/rj/" target="blank">UniLasalle RJ</a></li>
            <li><a href="http://unilasalle.edu.br/rj/graduacao/sistemasdeinformacao/" target="blank">Seu Curso</a></li>
            <li><a href="http://materiais.unilasalle.org/" target="blank">MOODLE</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="row">
        <div class="input-field col s4">
            <input id="email" type="email" class="validate">
            <label for="email">E-mail</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input id="senha" type="password" class="validate">
            <label for="senha">Senha</label>
        </div>
    </div>
    <button class="btn waves-effect deep-purple darken-2" type="submit" name="action">
                <i class="material-icons center">Entrar</i>
    </button>
</div>

